primary = #02313D
secondary = #506F76
secondary_dark = #506464
complement = #DC3B50
info = #2FBBBA
info_dark = #14A0BC

brown = #312412
brown_A = #614B20
brown_B = #95763D

green = #67A761

gray = #4D4D4D
dark = #333333