.u-wrapper
	padding 0 15px
	max-width 1000px
	margin 0 auto
	
.u-articleWrapper
	padding 0 15px
	max-width 850px
	margin 0 auto
.btn
	border none
	cursor pointer
	display inline-block
	font-size 14px
	height 35px
	line-height 33px
	padding 0 1em
	text-decoration none
	
.btn:hover
	background-color #333
	color white
	
.btn-default
	background-color #d3d3d3
	color #333
.btn-primary
	background-color primary
	color white
	&:hover
		background-color secondary
		color white
		
.btn-secondary
	background-color secondary
	color white
	&:hover
		background-color secondary_dark
		color white
	
.btn-info
	background-color info
	color white
	&:hover
		background-color info_dark
		color white

.btn-complement
	background-color complement
	color white
	&:hover
		background-color #A52C3C
		color white

.outline-default
	border 1px solid #333
	color #333
	
.outline-active
	background-color dark
	color white

.btn-text
	border 0
	padding 0
	text-decoration none
	color complement
	&:hover
		text-decoration underline
		background-color white
		color complement
.right
	float right