name: Readactor
description: Encuentra aquí esos artículos que no habías podido leer porqué estaban en otro idioma.
meta_description: Encuentra aquí esos artículos que no habías podido leer porqué estaban en otro idioma.

aboutPage: true

markdown: redcarpet
highlighter: pygments

paginate: 20
baseurl: http://metorama.github.io/readactor/
domain_name: 'http://metorama.github.io/readactor/'
google_analytics: 'UA-XXXXXXXX-X'
disqus: true
disqus_shortname: 'readactor'

# Details for the RSS feed generator
url:            'Readactor'
author:         'Readactor'
authorTwitter:  '@santiagoeastman'

permalink:       /:title/

defaults:
    -
        scope:
            path: "" # empty string for all files
            type: pages
        values:
            layout: default
    -
        scope:
            path: "" # empty string for all files
            type: posts
        values:
            layout: post
    -
        scope:
            path: ""
            type: drafts
        values:
            layout: post
